body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 17px;
}
h1 {
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-weight: bold;
  margin: 2rem;
}
header {
  background-color: rgb(3, 163, 223);
  display: grid;
  padding: 2rem;
}
header img {
  grid-column: 1/1;
}
header .contact-info {
  grid-column: 2/2;
  width: auto;
  line-height: 0.5
}
header nav {
  font-size: 20px;
  grid-column: 12/12;
  float: right;
  width: 16%;
}
.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  align-content: center;
}
.class-home {
  padding: 2rem;
  border: 6px solid rgb(27,68,127);
}
.lesson-home {
  margin-left: auto;
  margin-right: auto;
  width: 48%;
  border: 5px solid rgb(236,183,34);
  text-align: center;
}
footer {
  background-image: url("../img/footerImage.jpg");
  padding: 2rem;
}
section {
  margin: 2rem;
  padding: 2rem;
}
.instructor-blurb {
  display: grid;
  margin: 2rem;
}
.instructor-blurb img {
  grid-column: 1/1;
}
.instructor-blurb .instructor-profile {
  grid-column: 2/12;
  margin: 2rem;
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
.contact-info {
  font-size: 20px;
  color: white;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
